KN_DATABASE_URL=postgres://llm_wiki:llm_wiki_dev_password@127.0.0.1:5432/llm_wiki
KN_DEFAULT_COMPANY_NAME=Default Company
KN_SESSION_HOURS=12

LDAP_URL=ldap://ldap.company.local:389
LDAP_BASE_DN=dc=company,dc=local
LDAP_BIND_DN=cn=readonly,dc=company,dc=local
LDAP_BIND_PASSWORD=change-me
LDAP_USER_FILTER=(|(uid={username})(sAMAccountName={username})(mail={username}))
LDAP_DOMAIN=company.local
KN_LDAP_DEV_ALLOW_PASSWORD=false
